@import "tailwindcss";

@theme {
  --color-indigo: #3d35c8;
  --color-indigo-dark: #1a1a2e;
  --color-indigo-light: #f0f0ff;
  --color-indigo-mid: #6e66ff;
  --color-muted: #9090b0;
  --color-border: #e8eaf0;
  --color-bg: #f8f8fd;
}
